*{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#test {
    width: 320px;
    height: 640px;

    background-color: red;
    font-size: 18px;
    transition: transform 0.5s linear;
    float: left;
}
#test:hover {
    background-color: blue;
    transform: rotateY(180deg);
}
